@import "tailwindcss/theme";

/* BRAND VARIABLES */
:root {
  --color-primary: #1F0F72;
  --color-primary-light: #1E1293;
  --color-primary-softer: #343415;
  --color-accent: #22C55E;
}

@theme {
  /* Only animations / custom property aliases allowed */
}